@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .stream-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }
}

@layer components {
  .button {
    @apply flex text-white py-1 px-3 md:py-2 md:px-4 rounded-full transition-colors duration-300 ease-in-out bg-[#272727] hover:bg-[#767676];
  }

  .media-button {
    @apply inline-block text-white py-1 px-1 md:py-2 md:px-2 rounded-full bg-[#272727] hover:bg-[#767676];
  }

  .bg-main {
    @apply bg-[#0f0f0f] h-dvh w-full flex flex-col items-center md:flex-row gap-4 md:items-start justify-between;
  }

  .text-primary {
    @apply text-[#FFFFFF];
  }

  .text-secondary {
    @apply text-[#AAAAAA];
  }
}
