@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .stream-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }
}

@layer components {
  .button {
    @apply flex text-white py-1 px-3 md:py-2 md:px-4 rounded-full transition-colors duration-300 ease-in-out bg-[#272727] hover:bg-[#767676];
  }

  .media-button {
    @apply inline-block text-white py-1 px-1 md:py-2 md:px-2 rounded-full bg-[#272727] hover:bg-[#767676];
  }

  .bg-main {
    @apply h-dvh bg-[#0f0f0f] flex flex-col md:px-8;
  }

  .live-stream-container {
    @apply flex-grow stream-layout bg-[#0f0f0f] flex flex-col;
  }

  .live-video-container {
    @apply flex flex-col md:p-4;
  }

  .live-video__controls-container {
    @apply flex justify-evenly items-center p-2 md:gap-4 bg-gradient-to-bl from-[#332f32] to-[#333334] md:bg-none;
  }

  .text-primary {
    @apply text-[#FFFFFF];
  }

  .text-secondary {
    @apply text-[#AAAAAA];
  }
}
